<section class="todoapp">
  <header class="header">
    <h1><%= @list.name %></h1>
    <%= form_for([@list, @item]) do |f| %>
      <%= f.text_field :description, class: "new-todo", placeholder: (@item.errors.full_messages_for(:description ).first || "Enter a new item") %>

      <%= f.submit style: "display: none" %>
    <% end %>
  </header>

  <section class="main">
    <input class="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      <%= render collection: @list.items, partial: 'items/item_li', as: :item %>
    </ul>
  </section>

  <footer class="footer">
  </footer>
</section>

<!-- embed a template -->
<!-- make this generic, instead of item_22, it will be item_{{id}} -->
<script id='item-template' type="text/x-handlebars-template">
  <li class="item" id="item_22">
    <div class="view">
      <form class="edit_item" id="edit_item_22" action="/lists/11/items/22" accept-charset="UTF-8" method="post">
        <input name="utf8" type="hidden" value="✓">
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="authenticity_token" value="r9stadHoPnK3hMDHRYfPK8/51mg3RpItzxnXyq2tCBgtW2aHSKl4IhxwR8HJZK6szawxNt5wtN1Gdgg12JrBkg==">
        <input name="item[status]" type="hidden" value="0">
        <input class="toggle" type="checkbox" value="1" name="item[status]" id="item_status">
      </form>

      <label>Learn Handlebars</label>

      <form class="button_to" method="post" action="/lists/11/items/22">
        <input type="hidden" name="_method" value="delete">
        <input class="destroy" type="submit" value="x">
        <input type="hidden" name="authenticity_token" value="r9stadHoPnK3hMDHRYfPK8/51mg3RpItzxnXyq2tCBgtW2aHSKl4IhxwR8HJZK6szawxNt5wtN1Gdgg12JrBkg==">
      </form>
    </div>
  </li>
</script>

<!-- L4: Convention in Rails, when generating the form on lists/show, the id=new_item by default
     whatever the class type of the object is, is what Rails uses for the form -->
